@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --font-primary: 'Josefin Sans';

    --Bright-Blue: hsl(220, 98%, 61%);

    --section-background: hsl(235, 21%, 11%);
    --font-color-primary: hsl(234, 39%, 85%);
    --font--color-secondary: hsl(234, 11%, 52%);
    --containers-background: hsl(237, 14%, 26%);

    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    
}

/* ### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%) */

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-primary), sans-serif;
    color: var(--font--color-secondary);
    font-size: 14px;
}

header {
    width: 100%;
    height: 36%;
    background-image: url("/assets/img/bg-mobile-dark.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navbar {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar h1 {
    font-size: 30px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.todo-field {
    background-color: var(--containers-background);
    padding: 0.8rem;
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--Very-Dark-Grayish-Blue);
    border-radius: 50%;
    border: 1px solid var(--Dark-Grayish-Blue);
    margin: 0;
}

.todo-field input:nth-child(2) {
    font-family: var(--font-primary);
    color: #FFF;
    background-color: var(--Very-Dark-Grayish-Blue);
    border: none;
    color: var(--Dark-Grayish-Blue);
}

.todo-field input::placeholder {
    color: var(--font--color-secondary);
}

input[type="radio"]:checked {
    background-image: 
        url('/assets/img/icon-check.svg'), 
        radial-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%) 80%);
    background-repeat: no-repeat;
}

main {
    background: var(--section-background);
    height: 64%;
    text-align: center;
    position: relative;
}

.todo {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 80%;
}

.todo__list,
.todo__taskbar {
    background: var(--containers-background);
    border-radius: 8px;
    width: 100%;
}

.todo__taskbar {
    padding: 1rem;
}

.todo__item,
.todo__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__item {
    position: relative;
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
    padding: 1rem 1.2rem;

}

.todo__item p {
    position: absolute;
    top: 21px;
    left: 50px;
    color: var( --font-color-primary);
    font-size: 14px;
    font-weight: 400;
}

.todo__item i img {
    width: 15px;
    height: 15px;
}

.todo__button {
    font-weight: 700;
    font-size: 16px;
}

.todo__item-footer {
    padding: 1.1rem;
    border-top: 1px solid var(--Dark-Grayish-Blue);
}

button {
    background: none;
    border: none;
    font-family: var(--font-primary), sans-serif;
    color: var(--font--color-secondary);
    font-size: 14px;
}

.todo__footer {
    width: 100%;
    padding: 2rem;
}